@media (min-width: 0rem) {
    /* Will change */
body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* margin: 4.3rem; */
    font-size: 1.5m;
}

/* First Page */
h1{
    color: rgb(245,236,237);
    font-size: 0.65rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    /* background:gray; */
}

/* Title */
h2{
    color: rgb(250,220,110);
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
    /* background: gray; */
}

/* Download buttons School names */
h3{
    color: rgb(250,220,110);
    font-size: 1.25rem;
    font-weight: bold;
    margin:0;
    /* margin-top: 0; */
}

/* #school-streets-title{
    font-size: 11.9vw;
} */

/* right side school names */
h4{
    color: rgb(250,220,110);
    font-size: 2.5rem;
    font-weight: bold;
    margin:0;
}

/* the year */
h5{
    color: rgb(245,236,237);
    font-size: 1.2rem;
    font-style: italic;
    margin: 0;
}

/* pdf stuff */
h6{
    color: rgb(245,236,237);
    font-size: 1rem;
    margin-bottom:0;
    margin-top: 0;
}

/* toolbar title */
h7{
    color: rgb(245,236,237);
    font-size: 1rem;
    font-weight: bold;
    margin-bottom:0;
    margin-top: 0;
}

/* Our focus is to: */
h8{
    color: rgb(250,220,110);
    font-size: 4.35rem;
    font-weight: bold;
    margin-bottom:0;
    margin-top: 0;
}

h9{
    color: rgb(250,220,110);
    font-size: 6rem;
    font-weight: bold;
    margin-bottom:0;
    margin-top: 0;
}

h10{
    color: rgb(245,236,237);
    font-size: 1.8rem;
    margin-bottom:0;
    margin-top: 0;
}

/* para and bullet pts */
p,ul{
    color: rgb(245,236,237);
    font-size: .45rem;
    margin-top: 0;
    margin-bottom: 0;
}

/* links */
a{
    color: rgb(245,236,237);
    font-size: .5rem;
}

img{
    border-radius: 1rem;
}

.homebutton{
    font-size: 1rem;
    text-decoration: none;
}

.linkdark{
    color: rgb(250,220,110);
    font-size: 2.5vw;
    text-decoration: underline;

}

.linkdark:active, .linkdark:hover, .linkdark:focus {
    color: rgb(75,75,170);
	background-color: rgb(250,220,110);
    text-decoration: none;
}

.linklight{
    color: rgb(250,220,110);
    font-size: 0.5rem;
    text-decoration: underline;

}

.linklight:active, .linklight:hover, .linklight:focus {
    color: rgb(55,147,187);
	background-color: rgb(250,220,110);
    text-decoration: none;
}

.nav-main-item{
    background-color: rgb(55,147,187);
    padding:0.3rem 1.5rem;
    border-radius:1.25rem;

    transition-property: background-color;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
    text-decoration: none;
}

.nav-main-item:active, .nav-main-item:hover, .nav-main-item:focus {
    color: rgb(75,75,170);
	background-color: rgb(250,220,110);
}

.active-button{
    color: rgb(245,236,237);
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom:0;
    margin-top: 0;
    text-decoration: none;
}

.action-route-report-button{
    color: rgb(245,236,237);
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;

    /* background-color: rgb(75,75,170);
    text-align: center;
    padding:1.25rem 2rem;
    border-radius: 2rem;
    text-decoration: none; */
}

.action-route-report-button:active, .action-route-report-button:hover, .action-route-report-button:focus {
    color: rgb(75,75,170);
	/* background-color: rgb(250,220,110); */
}

.pdf-button{
    color: rgb(245,236,237);
    font-size: 1rem;
    margin-bottom:0;
    margin-top: 0;
    text-decoration: none;
}
}

/* 368px */
@media (min-width: 23rem){ 
    h1{
        font-size: 0.9rem;
    }
    h2 {
        font-size: 3rem;
    }
    h3 {
        font-size: 2rem;
    }
    a {
        font-size: .7rem;
    }
    p, ul {
        font-size: .7rem;
    }

    .linklight, .linkdark{
        font-size: .7rem;
    }

    .active-button{
        font-size: 0.2rem;
    }
}

/* 768px */
@media (min-width: 48rem) {
    /* Will change */
body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* margin: 4.3rem; */
    font-size: 1.5rem;
}

/* First Page */
h1{
    color: rgb(245,236,237);
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    /* background:gray; */
}

/* Title */
h2{
    color: rgb(250,220,110);
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
    /* background: gray; */
}

/* Download buttons School names */
h3{
    color: rgb(250,220,110);
    font-size: 3rem;
    font-weight: bold;

    margin-left: 0;
}

/* right side school names */
h4{
    color: rgb(250,220,110);
    font-size: 7rem;
    font-weight: bold;
    margin:0;
}

/* the year */
h5{
    color: rgb(245,236,237);
    font-size: 1.2rem;
    font-style: italic;
    margin: 0;
}

/* pdf stuff */
h6{
    color: rgb(245,236,237);
    font-size: 1rem;
    margin-bottom:0;
    margin-top: 0;
}

/* toolbar title */
h7{
    color: rgb(245,236,237);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom:0;
    margin-top: 0;
}

/* Our focus is to: */
h8{
    color: rgb(250,220,110);
    font-size: 4.35rem;
    font-weight: bold;
    margin-bottom:0;
    margin-top: 0;
}

h9{
    color: rgb(250,220,110);
    font-size: 6rem;
    font-weight: bold;
    margin-bottom:0;
    margin-top: 0;
}

h10{
    color: rgb(245,236,237);
    font-size: 1.8rem;
    margin-bottom:0;
    margin-top: 0;
}

/* para and bullet pts */
p,ul{
    color: rgb(245,236,237);
    font-size: 1.6rem;
}

/* links */
a{
    color: rgb(245,236,237);
    font-size: .9rem;
}

img{
    border-radius: 1rem;
}

.homebutton{
    font-size: 2vw;
    text-decoration: none;
}

.linkdark{
    color: rgb(250,220,110);
    font-size: 1.6rem;
    text-decoration: underline;
}

.linkdark:active, .linkdark:hover, .linkdark:focus {
    color: rgb(75,75,170);
	background-color: rgb(250,220,110);
}

.linklight{
    color: rgb(250,220,110);
    font-size: 1.6rem;
    text-decoration: underline;
}

.linklight:active, .linklight:hover, .linklight:focus {
    color: rgb(55,147,187);
	background-color: rgb(250,220,110);
}

.nav-main-item{
    background-color: rgb(55,147,187);
    padding:.3rem 1.5rem;
    border-radius:2rem;

    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    text-decoration: none;
}

.nav-main-item:active, .nav-main-item:hover, .nav-main-item:focus {
    color: rgb(75,75,170);
    background-color: rgb(250,220,110);
}

.active-button{
    color: rgb(245,236,237);
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom:0;
    margin-top: 0;
    text-decoration: none;
}

.action-route-report-button{
    color: rgb(245,236,237);
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;

    /* background-color: rgb(75,75,170);
    text-align: center;
    padding:1.25rem 2rem;
    border-radius: 2rem;
    text-decoration: none; */
}

.action-route-report-button:active, .action-route-report-button:hover, .action-route-report-button:focus {
    color: rgb(75,75,170);
	/* background-color: rgb(250,220,110); */
}

.pdf-button{
    color: rgb(245,236,237);
    font-size: 1rem;
    margin-bottom:0;
    margin-top: 0;
    text-decoration: none;
}
}

/* 1024 px */
@media (min-width: 64rem){
    h1{
        font-size: 1.3rem;
    }
    h2 {
        font-size: 6rem;
    }
    h3 {
        font-size: 3rem;
    }
    a {
        font-size: .9rem;
    }
    p, ul {
        font-size: 1.75rem;
    }

    .linklight, .linkdark{
        font-size: 1.75rem;
    }

    .active-button{
        font-size: 1.5rem;
    }
}

/* 1168px */
@media (min-width: 73rem){
    h1{
        font-size: 2rem;
    }
    h2 {
        font-size: 6rem;
    }
    h3 {
        font-size: 3rem;
    }
    a {
        font-size: 1.5rem;
    }
    p, ul {
        font-size: 1.75rem;
    }

    .linklight, .linkdark{
        font-size: 1.75rem;
    }

    .active-button{
        font-size: 1.5rem;
    }

    .nav-main-item{
        padding: 1rem 3rem;
    }
}
